%font-18 {
    font-size: 18px;
    line-height: 24px;
    @media (max-width: $xxxl) {
        font-size: 14px;
        line-height: 18px;
    }
}

%font-22 {
    font-size: 22px;
    line-height: 30px;
    @media (max-width: $xxl) {
        font-size: 16px;
        line-height: 22px;
    }
}

%font-25 {
    font-size: 25px;
    line-height: 40px;
    @media (max-width: $xxl) {
        font-size: 16px;
        line-height: 22px;
    }
}

%font-28 {
    font-size: 28px;
    line-height: 40px;
    @media (max-width: $xxl) {
        font-size: 20px;
        line-height: 26px;
    }
}

%font-30 {
    font-size: 30px;
    line-height: 40px;
    @media (max-width: $xxxl) {
        font-size: 20px;
        line-height: 28px;
    }
}

%font-35 {
    font-size: 35px;
    line-height: 46px;
    @media (max-width: $lg) {
        font-size: 28px;
        line-height: 39px;
    }
    @media (max-width: $sm) {
        font-size: 22px;
        line-height: 33px;
    }
}

%font-42 {
    font-size: 42px;
    line-height: 54px;
    @media (max-width: $lg) {
        font-size: 32px;
        line-height: 44px;
    }
    @media (max-width: $sm) {
        font-size: 18px;
        line-height: 30px;
    }
}

%font-50 {
    font-size: 50px;
    line-height: 60px;
    @media (max-width: $lg) {
        font-size: 40px;
        line-height: 51px;
    }
    @media (max-width: $sm) {
        font-size: 24px;
        line-height: 32px;
    }
}

%font-52 {
    font-size: 52px;
    line-height: 69px;
    @media (max-width: $md) {
        font-size: 32px;
        line-height: 57px;
    }
}

%font-55 {
    font-size: 55px;
    line-height: 80px;
    @media (max-width: $md) {
        font-size: 32px;
        line-height: 57px;
    }
}

%font-69 {
    font-size: 69px;
    line-height: 80px;
    @media (max-width: $xl) {
        font-size: 48px;
        line-height: 59px;
    }
    @media (max-width: $lg) {
        font-size: 40px;
        line-height: 51px;
    }
    @media (max-width: $sm) {
        font-size: 28px;
        line-height: 41px;
    }
}

%font-78 {
    font-size: 78px;
    line-height: 104px;
    @media (max-width: $xxxl) {
        font-size: 66px;
        line-height: 92px;
    }
    @media (max-width: $xl) {
        font-size: 48px;
        line-height: 59px;
    }
    @media (max-width: $lg) {
        font-size: 40px;
        line-height: 51px;
    }
    @media (max-width: $sm) {
        font-size: 32px;
        line-height: 43px;
    }
}
