.footer {
    padding: 120px 0 80px 0;
    overflow: hidden;
    @media (max-width: $xl) {
        padding-top: 80px;
        padding-bottom: 30px;
    }
    & > .container {
        position: relative;
        &::before {
            content: " ";
            position: absolute;
            width: calc(100% - 30px);
            height: 3px;
            left: 15px;
            right: 15px;
            background-color: #3a3b74;
            margin-top: -120px;
            @media (max-width: $xl) {
                margin-top: -80px;
            }
        }
    }
    &-about {
        @media (max-width: $xl) {
            margin-bottom: 50px;
        }
        @media (max-width: $md) {
            width: fit-content;
            margin-left: auto;
            margin-right: auto;
        }
        &-img {
            width: 158.79px;
            height: auto;
        }
        &-text {
            max-width: 180px;
            margin: 20px 0;
            @extend %font-13;
        }
        &-social {
            display: flex;
            flex-wrap: wrap;
            padding-inline-start: 0;
            margin-bottom: 0;
            &-item {
                margin-right: 23px;
                margin-bottom: 15px;
                display: inline-block;
                list-style: none;
                &:last-child {
                    margin-right: 0;
                }
                &-icon {
                    height: 23px;
                    width: auto;
                    &.youtube {
                        height: 20px;
                    }
                }
            }
        }
    }
    &-liks {
        @media (max-width: $xl) {
            margin-bottom: 50px;
        }
        &-title {
            color: #7a7cb9;
            @extend %font-18;
            margin-bottom: 28px;
            @media (max-width: $xl) {
                text-align: center;
                font-size: 18px !important;
                line-height: 24px !important;
            }
        }
        &-menu {
            columns: 2;
            -webkit-columns: 2;
            -moz-columns: 2;
            padding-inline-start: 0;
            margin-bottom: 0;
            @media (max-width: $md) {
                width: fit-content;
                margin-left: auto;
                margin-right: auto;
            }
            li {
                list-style: none;
                @media (max-width: $md) {
                    padding-left: 15px;
                    padding-right: 15px;
                }
                a {
                    color: $white;
                    position: relative;
                    list-style: none;
                    padding-left: 15px;
                    @extend %font-18;
                    display: flex;
                    &::before {
                        content: " ";
                        position: absolute;
                        background-image: url(../img/Icons/list.svg);
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        width: 6px;
                        height: 9px;
                        top: calc(50% - 4.5px);
                        left: 0;
                    }
                    &:hover,
                    &:focus {
                        color: $secondary_4;
                        &::before {
                            background-image: url(../img/Icons/active-list.svg);
                        }
                    }
                }
            }
        }
    }
    &-newsletter {
        @media (max-width: $xl) {
            margin-bottom: 50px;
        }
        &-title {
            color: #7a7cb9;
            @extend %font-18;
            margin-bottom: 28px;
            @media (max-width: $xl) {
                text-align: center;
                font-size: 18px !important;
                line-height: 24px !important;
            }
        }
        &-form {
            display: flex;
            margin-bottom: 48px;
            flex-wrap: wrap;
            input[type="text"] {
                width: calc(100% - 170px - 24px) !important;
            }
            input[type="submit"] {
                width: 170px;
                margin-left: 24px;
            }
        }
        &-social {
            &-item {
                margin-bottom: 25px;
                text-align: right;
                @media (max-width: $md) {
                    text-align: center;
                }
                &-link {
                    &.whatsapp {
                        position: relative;
                        padding-left: 35px;
                        &::before {
                            content: "";
                            position: absolute;
                            background-image: url(../img/Icons/whatsapp.svg);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 25px;
                            height: 25px;
                            top: calc(50% - 12.5px);
                            left: 0;
                        }
                    }
                    &.email {
                        position: relative;
                        padding-left: 35px;
                        &::before {
                            content: "";
                            position: absolute;
                            background-image: url(../img/Icons/mail.svg);
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            width: 25px;
                            height: 25px;
                            top: calc(50% - 12.5px);
                            left: 0;
                        }
                    }
                }
            }
        }
        &-cnpj {
            @extend %font-18;
            font-weight: bold;
            color: $white;
            text-align: right;
            @media (max-width: $md) {
                text-align: center;
            }
        }
    }
}
