html {
    scroll-behavior: smooth;
}
body {
    font-family: $font-primary;
    background-color: $body;
    overflow-x: hidden;
    color: $white;
}
.main-body {
    overflow: hidden;
}

::selection {
    color: $primary;
    background: $white;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background: rgba($secondary, 0.5);
}

::-webkit-scrollbar-track {
    background: rgba($secondary, 0.3);
}

mark {
    background-color: transparent;
    padding: 0;
    color: $secondary_4;
}
ul {
    padding-inline-start: 0;
    margin-bottom: 0;
}

p,
ul,
li {
    font-family: $font-primary;
    color: $white;
    list-style: none;
}
* {
    outline: none !important;
}

p {
    font-size: 16px;
    line-height: 28px;
    font-weight: 300;
}

img {
    width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: $white;
    transition: color 0.2s;
    &:hover {
        text-decoration: none;
        color: $secondary_4;
    }
}

h1,
h2,
h3,
h4,
h5 {
    font-family: $font-secondary;
    color: $white;
}


input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]),
select,
textarea {
    background-color: #7a7cb9;
    border-radius: 8px;
    @extend %font-18;
    border: 3px solid #7a7cb9 !important;
    padding: 15px;
    outline: none !important;
    width: 100%;
    color: $white;
    &::placeholder {
        color: #c1c2ff;
        @extend %font-18;
    }
    &:focus {
        background-color: $white;
        color: $primary;
    }
}

.sidebar {
    padding: 50px;
    border-radius: 30px;
    background-color: $color_3F4077;
    &-item:not(:last-of-type) {
        margin-bottom: 50px;
    }
}
.blog-header {
    padding: 100px 0;
}
.swiper-pagination {
    margin-bottom: -15px;
    .swiper-pagination-bullet {
        width: 15px;
        height: 15px;
        &.swiper-pagination-bullet-active {
            background-color: $secondary_4;
        }
    }
}

.swiper {
    width: 100%;
    height: auto;
}

.wpcf7-spinner {
    position: absolute;
    top: calc(50% + 12px);
}
.contact-form-form {
    text-align: left;
}

.wpcf7-response-output{
    border-radius: 15px;
}


.error404 {
    padding-top: 150px;
    main {
        text-align: center;
        padding-top: 100px;
        padding-bottom: 100px;
        h1 {
            font-size: 200px;
            line-height: 150px;
            margin-bottom: 60px;
            letter-spacing: 36px;
            color: $body;
            text-shadow: 2px 0 0 $white, -2px 0 0 $white, 0 2px 0 $white, 0 -2px 0 $white,
                1px 1px $white, -1px -1px 0 $white, 1px -1px 0 $white, -1px 1px 0 $white;
        }
    }
    @media screen and (max-width: 576px) {
        main {
            padding-top: 60px;
            padding-bottom: 60px;
            h1 {
                font-size: 120px;
                line-height: 100px;
            }
            h2 {
                font-size: 24px;
            }
        }
    }
}

//@media screen and (max-width: $md) {
    body [data-aos][data-aos][data-aos-duration][data-aos-delay] {
        transition-delay: 0ms;
        transition-duration: 750ms;
    }
//}
