.emoving-call-action {
    padding: 100px 0;
    &-text,
    &-text * {
        @extend %font-48;
        font-weight: 800;
        text-align: center;
        margin-bottom: 30px;
        mark {
            background-color: transparent;
            padding: 0;
            color: $secondary_4;
        }
    }
}

.service-list-01 {
    padding: 100px 0;
    &-title,
    &-title * {
        color: $white;
        @extend %font-70;
        font-weight: 800;
        text-align: center;
        mark {
            background-color: transparent;
            padding: 0;
            color: $secondary_4;
        }
    }
    &-text {
        @extend %font-24;
        color: $white;
        text-align: center;
    }
    &-row {
        margin-top: 80px;
    }
    &-box {
        padding: 15px;
        margin-bottom: 24px;
        &-img {
            text-align: center;
            margin-bottom: 15px;
            img {
                height: 187px;
                width: auto;
                max-width: 100%;
            }
        }
        &-title {
            @extend %font-36;
            font-weight: bold;
            color: $white;
            text-align: center;
            margin-bottom: 15px;
        }
        &-text {
            @extend %font-18;
            color: $white;
            text-align: center;
            margin-bottom: 15px;
        }
    }
}

.service-list-02 {
    padding: 100px 0;
    &-title,
    &-title * {
        color: $white;
        font-weight: 800;
        @extend %font-70;
        text-align: center;
        mark {
            background-color: transparent;
            padding: 0;
            color: $secondary_4;
        }
    }
    &-text {
        @extend %font-24;
        color: $white;
        text-align: center;
    }
    &-row {
        margin-top: 80px;
    }
    &-box {
        background-color: $color_3F4077;
        border-radius: 30px;
        padding: 40px;
        margin-bottom: 24px;
        &-img {
            text-align: center;
            margin-bottom: 15px;
            img {
                max-width: 100%;
                height: 187px;
                width: auto;
            }
        }
        &-title {
            @extend %font-36;
            font-weight: bold;
            color: $white;
            text-align: center;
            margin-bottom: 15px;
        }
        &-text {
            @extend %font-18;
            color: $white;
            text-align: center;
            margin-bottom: 15px;
        }
    }
}

.hero-default {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    &.before-true {
        &::before {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, rgba($body, 0.5), $body);
            z-index: 1;
        }
    }
    &.after-true {
        &::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba($body, 0.5), $body);
            z-index: 1;
        }
    }
    &-background-image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        object-fit: cover;
        object-position: top center;
        max-width: 100%;
    }
    &-content {
        margin-top: 15vh;
        position: relative;
        z-index: 2;
        text-align: center;
        &-title {
            @extend %font-72;
            font-weight: 800;
            margin-bottom: 15px;
            text-align: center;
            mark {
                background-color: transparent;
                padding: 0;
                color: $secondary_4;
            }
        }
        &-text {
            @extend %font-18;
            text-align: center;
            margin-bottom: 47px;
        }
        &-link {
            margin: auto;
            display: block;
            width: fit-content;
            &-icon {
                width: 42px;
                height: 42px;
                background-image: url(../img/Icons/scroll-down.svg);
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
                display: block;
                animation: alternate pulse_scroll 0.5s infinite;
                -webkit-animation: alternate pulse_scroll 0.5s infinite;
            }
        }
    }

    &-text {
        position: relative;
        z-index: 2;
        margin-top: 15vh;
        text-align: center;
        @extend %font-24;
    }
}

@keyframes pulse_scroll {
    0% {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    }
}

.hero-home {
    height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    &.before-true {
        &::before {
            content: " ";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to top, rgba($body, 0.5), $body);
            z-index: 1;
        }
    }
    &.after-true {
        &::after {
            content: " ";
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(to bottom, rgba($body, 0.5), $body);
            z-index: 1;
        }
    }
    &-background-image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        object-fit: cover;
        object-position: top center;
    }
    &-content {
        margin-top: 5vh;
        position: relative;
        z-index: 2;
        text-align: center;
        &-img {
            img {
                position: absolute;
                right: 0;
                margin-right: 80%;
                top: 0;
                margin-top: -50px;
                height: 65vh;
                width: auto;
            }
        }
        &-title {
            @extend %font-72;
            font-weight: 800;
            margin-bottom: 15px;
            text-align: center;
            mark {
                background-color: transparent;
                padding: 0;
                color: $secondary_4;
            }
        }
        &-text {
            @extend %font-18;
            text-align: center;
            max-width: 530px;
            margin: auto;
            mark {
                background-color: transparent;
                padding: 0;
                color: $secondary_4;
            }
        }
        &-button {
            margin-top: 50px;
        }
    }
}

@keyframes pulse_scroll {
    0% {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -ms-transform: translateY(50px);
    }
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
    }
}

.solutions {
    padding: 100px 0;
    &-title {
        @extend %font-70;
        font-weight: 800;
        color: $white;
        margin-bottom: 200px;
        text-align: center;
    }
    &-container {
        width: 100%;
        max-width: 1746px;
        margin-left: auto;
        margin-right: auto;
        &-item {
            margin-bottom: 100px;
            &-img {
                max-width: 100%;
                height: auto;
            }
            &-title {
                @extend %font-36;
                font-weight: bold;
                color: $white;
                margin-bottom: 15px;
            }
            &-text {
                @extend %font-24;
                font-weight: 300;
                color: $white;
                margin-bottom: 30px;
            }
        }
    }
}

.contact-form {
    padding: 100px 0 200px 0;
    text-align: center;
    &-content {
        text-align: center;
        &-title {
            @extend %font-72;
            font-weight: 800;
            margin-bottom: 15px;
            text-align: center;
            margin-bottom: 15px;
            mark {
                background-color: transparent;
                padding: 0;
                color: $secondary_4;
            }
        }
        &-text {
            @extend %font-24;
            text-align: center;
            margin-bottom: 50px;
        }
    }
    &-form {
        input[type="submit"] {
            margin-top: 50px;
        }
        input:not([type="radio"]):not([type="checkbox"]):not([type="submit"]) {
            border: 3px solid #7a7cb9 !important;
            &:focus {
                background-color: $white;
                color: $primary;
                border-color: #7374d8 !important;
            }
        }
    }
}

.e-bikes {
    &-item {
        margin-bottom: 150px;
        &-title {
            @extend %font-48;
            font-weight: 800;
            color: $secondary_4;
            margin-bottom: 0px;
        }
        &-box {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            &-img {
                width: 100%;
                height: auto;
                pointer-events: none;
            }
        }
    }
}

.video-thumb {
    width: 100%;
    padding-bottom: 56.25%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    cursor: pointer;
    filter: saturate(0);
    transition: filter 0.2s;
    .overlay {
        background-color: rgba($color: #000000, $alpha: 0.6);
        transition: background-color 0.2s;
    }
    &:hover {
        filter: saturate(1);
        .play-button {
            background-color: $secondary;
            border-color: $secondary;
            i {
                color: $secondary_4;
            }
        }
        .overlay {
            background-color: rgba($color: #000000, $alpha: 0.3);
        }
    }
}
.video-embed {
    display: none;
    padding-bottom: 56.25%;
    position: relative;
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}

.video-embed {
    display: none;
    padding-bottom: 56.25%;
    position: relative;
    iframe {
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
    }
}


.play-button {
    height: 80px;
    width: 80px;
    background-color: transparent;
    position: absolute;
    display: block;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    border-radius: 50%;
    border: 2px solid $secondary-contrast;
    transition: background-color 0.2s, border 0.2s;
    i {
        color: $secondary-contrast;
        position: absolute;
        top: 50%;
        left: 52%;
        transform: translate(-50%, -50%);
        font-size: 28px;
        transition: color 0.2s;
    }
    &.audio-button {
        i {
            font-size: 41px;
        }
    }
}