$primary: #444591;
$white: #ffffff;
$secondary: #5ca1d8;
$scondary_2: #0064a3;
$secondary_3: #80bbdc;
$secondary_4: #00dcf0;
$secondary_4_light: #a9f8ff;
$color_3F4077: #3f4077;
$purple_dark: #3a3b75;

$gradient_image: linear-gradient(to top, #444580, transparent);

$ice: #fcfdfc;

$body: #444580;

$background-light: #eaf0f7;
$background-dark: #e4e9ee;

$success: #06be59;
$danger: #ff5656;
$warning: #fdd03d;

$xxxl: 1520px;
$xxl: 1400px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$font-primary: "Fira Sans", sans-serif;
$font-secondary: "Fira Sans", sans-serif;

$border-radius: 5px;
